body {
  background-color: black;
  font-size: 50%;
}



/* styling links */
a:visited {
  color: green;
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: green;
}
/* end of styling links */
